{% extends 'base/base.html' %}

{% block title %}Сброс пороля{% endblock title %}

{% block content %}
    <H1>
        {% if validlink %}
            <p>Пожалуйста введите новый пароль</p>
            <form method='post'>
                {{form.as_p}}
                {% csrf_token %}
                <p>
                    <input type='submit' value='потвердить'/>
                </p>
            </form>
            
            {% else %}
            <p>
                Введенная ссылка на пороль не существует, вероятно оно уже есть.
                Пожалуйста попробуйте занова
            </p>
        {% endif %}
    </H1>

{% endblock content %}